# Dependency directories
node_modules/

# Npm package lock file
package-lock.json

# nyc test coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Coverage directory used by tools like istanbul
coverage
